<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Status</title>
    <link rel="stylesheet" href="/ecard-app-mad1/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #form-body{
            height: 337px;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body" style="height: 555px; width:506px; margin-top: 125px;">
                <h1>Card Request Details</h1>
                <label for="name" class="form-label">Fullname</label>
                <input id="name" class="form-control" type="text" value="Rajdip Malo" aria-label="readonly input example" readonly>
                <label for="card" class="form-label">Type of Card</label>
                <input id="card" class="form-control" type="text" value="aadhar card" aria-label="readonly input example" readonly>
                <label for="d1" class="form-label">detail 1</label>
                <input id="d1" class="form-control" type="text" value="detail 1" aria-label="readonly input example" readonly>
                <label for="d2" class="form-label">detail 2</label>
                <input id="d2" class="form-control" type="text" value="detail 2" aria-label="readonly input example" readonly>
                <form action="" method="post">
                <div class="mb-3">
                    <label for="Input1" class="form-label">Update Status</label>
                    <select class="form-select" aria-label="Default select example" id="Input1" name="card">
                        
                        <option value="aadhar">Under Verification</option>
                        <option value="pan">Verified</option>
                        
                      </select>
                </div>
                
                <div style="text-align: center; margin-top:  40px;">
                <input type="submit" class="btn btn-primary" value="Update Status"> 
                
               </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>